.content{
	position: relative;
	height: auto;
	width:100%;
	height:360px;
	width:100%;
	//border: 1px solid black;
}
.right{
	position: absolute;
	top:0px;
	left:51%;
	//border: 1px solid green;
}
.left{
	position: absolute;
	top: 0px;
	right: 51%;
	//border:  1px solid blue;
}
.nextpage{
	position:absolute;
	bottom:0px;
	left:47%;
	//text-align: center;
}
