.content{
	position: relative;
	width:100%;
	height:500px;
	top: 150px;
}
.right{
	position: absolute;
	top:0px;
	left:51%;
}
.left{
	position: absolute;
	top: 0px;
	right: 51%;
	//border:  1px solid blue;
}
.nextpage{
	position:absolute;
	bottom:80px;
	left:47%;
	padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ff1a1a;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.nextpage:hover {background-color: #ff1a1a}

.nextpage:active {
  background-color: #ff1a1a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
h1 {
    color: #fff;
    font-size: 40pt;
    font-family: 'Calibri';
  }
h2 {
		font-family: 'Perpetua';
		font-size: 20pt;
}
span {
		font-family: 'Perpetua';
		color: #cc0044;
}