.content{
	position: relative;
	width:100%;
	height:500px;
	top: 150px;
}
.right{
	position: absolute;
	top: -85px;
	left:52%;
}
.left{
	position: absolute;
	top: -85px;
	right: 52%;
}
.nextpage{
	position:absolute;
	bottom:80px;
	left: 46%;
	padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ff1a1a;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.nextpage:hover {background-color: #ff1a1a}

.nextpage:active {
  background-color: #ff1a1a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
h1 {
    color: #fff;
    font-size: 50pt;
    font-family: 'Gabriola';
  }
h2 {
    margin-top: 100px;
    font-size: 25pt;
    font-family: 'MV Boli';
}
h3 {
  margin-top: 50px;
  font-size: 20pt;
  color: #fff;
  font-family: 'Arial';
}
span {
		font-family: 'Perpetua';
		color: #cc0044;
}
form {
    margin-top: 40px;
    color: #fff;
    font-family: 'Tahoma';
}
.qwerty{
  color: white;
}
p {
    text-align: center;
    bottom: 0px;
    position: absolute;
}
.another {
  border-radius: 5px;
  bottom: 15px;
  position: absolute;
  left: 300px;
  text-align: center;
  font-size: 15px;
  background-color: #ff1a1a;
  color: #fff;
  font-family: 
  margin: 5px;
  cursor: pointer;
  width: 120px;
  border: none;
}
.another:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.50),0 17px 50px 0 rgba(0,0,0,0.20);
  color: #000;
}