{% extends 'order/base.html' %}
{% load staticfiles %}
{% block content %}
     <img id="logo" src="{% static 'Pictures/Maxs-Logo.png' %}" width="150px" height="100px">
  <center><h1>MAX'S SPECIALTIES</h1></center>
    <div class="content">
      <form action="../receipt/" method="POST" id="form">
      	{% csrf_token %}
      <div class="left">
        <img src="{% static 'Pictures/chick.jpg' %}" width="300px" height="250px"/>
        <center><h3>Max's Chicken - Php 250.00</h3>
        <span>Quantity:</span>
        <input type="number" name="quantity_chicken" value="0" min="0"/><br/></center>
      </div>
      <div class="right">
        <img src="{% static 'Pictures/fries.jpg' %}" width="300px" height="250px"/>
        <center><h3>Max's Fries - Php 100.00</h3>
        <span>Quantity:</span>
        <input type="number" name="quantity_fries" value="0" min="0"/></center>
        <input type="hidden" name="username" value="{{ username }}"/>
      </div>
      <input type="submit" value="CHECKOUT" class="nextpage"/>
      </form>
      <form action="../logout/" method="POST">
      	{% csrf_token %}
        <input type="hidden" name="username" value="{{ username }}"/>
      	<input type="submit" class="button" value="LOG-OUT"/>
      </form>
      <form action="../history/" method="POST">
      	{% csrf_token %}
        <input type="hidden" name="username" value="{{ username }}"/>
      	<input type="submit" class="history" value="HISTORY"/>
      </form>
    </div>
{% endblock %}
{% block scripts %}
{% endblock scripts %}
