{% extends 'order/base.html' %}
{% load staticfiles %}
	{% block header %}
	<link rel="Stylesheet" href="{% static 'css/style.css' %}"/>
	{% endblock header %}
	{% block content %}
		
		<form action="receipt/" action="get">
		<div class="content">
			<div class="left">
				<img src="{% static 'Pictures/chick.jpg' %}" width="200px" height="200px"/>
				<h1>Max's Chicken</h1>
				Quantity:<br/>
  				<input type="number" name="chick"/><br/>
			</div>
			<div class="right">
				<img src="{% static 'Pictures/fries.jpg' %}" width="200px" height="200px"/>
				<h1>Max's Fries</h1>
				Quantity:<br/>
				<input type="number" name="fries"/>
			</div>
			<button class="nextpage" name="sub">Checkout</button>
		</div>
		</form>

	{% endblock %}
