{% extends 'order/base.html' %}
{% load staticfiles %}
{% block content %}
  <center><h1>MAX'S SPECIALTIES</h1></center>
    <div class="content">
      <form action="../{{username}}/receipt/" method="POST" id="form">
      	{% csrf_token %}
      <div class="left">
        <img src="{% static 'Pictures/chick.jpg' %}" width="300px" height="250px"/>
        <center><h3>Max's Chicken</h3>
        <span>Quantity:</span>
        <input type="number" name="quantity_chicken" value="0" min=0/><br/></center>
      </div>
      <div class="right">
        <img src="{% static 'Pictures/fries.jpg' %}" width="300px" height="250px"/>
        <center><h3>Max's Fries</h3>
        <span>Quantity:</span>
        <input type="number" name="quantity_fries" value="0" min=0/></center>
      </div>
      <input type="submit" value="CHECKOUT" class="nextpage" name="sub" />
      <a href="/history" title="History"><button class="button">HISTORY</button>
      <a href="/sign-up" title="Back to Home"><button class="history">LOG-OUT</button>
      </form>
    </div>
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock scripts %}
