{% extends 'order/base.html' %}
{% load staticfiles %}
{% block content %}
    <a href="{% url 'sign-up' %}"><img id="logo" src="{% static 'Pictures/Maxs-Logo.png' %}" width="150px" height="100px"></a>
  <center>
    <h2 class="qwerty">Fill-up the Following:</h2>
    <form action="/home/" method="POST">
      {% csrf_token %}
      User Name: <br/>
      <input type="text" name="username" required><br/>
      First Name: <br/>
      <input type="text" name="name" required><br/>
      Address: <br/>
      <input type="text" name="address" required><br/>
      <button class="nextpage" name="final"><b>DONE</b></button>
    </form>
  </center>
{% endblock %}