{% extends 'order/base.html' %}
{% load staticfiles %}
{% block content %}
     <a href="{% url 'sign-up' %}"><img id="logo" src="{% static 'Pictures/Maxs-Logo.png' %}" width="150px" height="100px"></a>
  <center>
    {{username}}
    <h1>Craving for a "Sarap to the Bones"?</h1>
    <h2 class="qwerty">Sign In to Order Now!</h2>
    <form action="../menu/" method="POST" class="form">
      {% csrf_token %}
      User Name: <br/>
      <input type="text" name="username" required><br/>
      <button class="nextpage" name="final"><b>SIGN-IN</b></button>
    </form>
    <form action="../sign/" method="POST">
      {% csrf_token %}
      <a href="../sign/" ><button class="another" name="in">SIGN-UP</button></a>
      <p>Don't have an account? SIGN-UP Now!</p>
    </form>
  </center>
{% endblock %}